a {
	color: $blue-color;
}
button {
	&.btn.btn-default {
		// border-radius: $border-radius;

		&:hover {
			background-color: lighten($light-gray-color, 10%);
		}
		&:active {
			background-color: $light-gray-color;
		}
	}
	&.transparent {
		background: transparent;
		border: none;
		color: $body-gray-color;
		@include hoverAction();
	}
}

.editable {
	&:hover {
		cursor: pointer;
		text-decoration:underline;
	}
}

// utils
.left-right-align {
	margin:0;

	& > :first-child {
		text-align:left;
		padding-left:0;
	}
	& > :last-child {
		text-align: right;
		padding-right:0;
	}
}

.center-align {
	& > :first-child {
		text-align: center;
	}
}

.vertical-align {
	@include vertical-align();
}

// TASKS
.task {
	background: #fff;
    padding: 6px;
    margin: 10px 0;
    opacity: 1;
    border: 1px solid $border-color;
    border-top: 5px solid #E8E8E8;
    overflow: hidden;

    @include transition();
    @include disableSelect();

    &:hover {
    	cursor: pointer;
    	opacity:0.7;
    }

    &.draggingSource {
    	border:1px dashed $border-color;
    	background:transparent;
    	min-height:50px;
    }

    .header {
    	display: flex;
    }
    .avatar {
    	width: 20px;
    	height: 20px;
    	display: inline-block;
    	background: #F1F1F1;
    	font-family: 'Glyphicons Halflings';
    	color: gray;
    	background-size: cover;
    	background-position: center;
    	border-radius: 2px;
    	margin-left: 3px;
    	margin-bottom: 3px;
    }

	.footer {
		color: $blue-color;

		.row {
			margin:0;
		}
	}
	.body {
		padding-bottom: 5px;
		font-size:14px;
	}
	.task-info {
		font-size: 14px;
		color: #7C7C7C;

		.blocking-task {

		}
	}
}
.task-status {
	padding:2px 10px;
	background: lighten($border-color, 12%);
	border: 1px solid $border-color;
	display:inline-block;
	color: darken($border-color, 30%);
	margin-bottom:8px;
	border-radius: $border-radius;
}

// Task state coloring
.state-todo {
}
.state-doing {
	.task {
		border-color: $yellow-color;
	}

}
.state-blocked {
	.task {
		border-color: $red-color;
	}
}
.state-done {
	.task {
		border-color: $green-color;
	}
}

.user-story {
	// background: #fff;
    padding: 6px;
    margin: 10px 0;
    opacity: 1;
    // border: 1px solid $border-color;
    background: transparent;
    border: none;

    @include transition();

    .heading > .row { margin:0; }

    &.collapse {
    	display:block;
    	height: 100% !important;

    	.body { display:none; }

    	&.in {
    		display:block;

    		.body { display:block; }
    	}
    }
    .control {
    	button.collapse-control {
    		background:$light-gray-color;
    		padding: 3px 7px;
    		border:none;

    		&:hover { background: darken($light-gray-color, 5%); }
    		&:active { background: darken($light-gray-color, 10%); }
    	}
    }
    ul {
    	padding-left: 20px;
    }
    .body {
    	font-size: $body-font-size;
    	h5 {
    		font-size: 16px;
    	}
    	input {
    		font-size: 16px;
    		padding:5px;
    	}
    }
}

.progress {
	background: #fff;
	margin: $margin;
	margin-top:0;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

	.progress-bar {
		-webkit-box-shadow: none;
		box-shadow: none;
		// box-shadow: #ffe22a 0px 0px 0px 1px inset;
		// border: 1px solid;

		&.progress-bar-info {
			background-color: #fff;
			// border-color: darken(#fff, 20%);
			box-shadow: darken(#fff, 10%) 0px 0px 0px 1px inset;
		}

		&.progress-bar-warning {
			background-color: $yellow-color;
			// border-color: darken($yellow-color, 20%);
			box-shadow: darken($yellow-color, 20%) 0px 0px 0px 1px inset;
		}
		&.progress-bar-danger {
			background-color: $red-color;
			// border-color: darken($red-color, 20%);
			box-shadow: darken($red-color, 20%) 0px 0px 0px 1px inset;
		}
		&.progress-bar-success {
			background-color: $green-color;
			// border-color: darken($green-color, 20%);
			box-shadow: darken($green-color, 20%) 0px 0px 0px 1px inset;
		}
	}
}

.badge {
	background-color: #118AB2;
	margin-left: 5px;
	vertical-align: baseline;
}

.suggestion-input {
	position:relative;

	input {
		width:100%;
	}

	.suggestions {
		position: absolute;
		top: 26px;
		z-index: 9999999;
		width:100%;

		ul {
			@include resetSpacing();
			border: 1px solid $blue-color;
			border-top: none;
			max-height:200px;
			overflow-y:scroll;
			
			li {
				@include resetSpacing();
				background: #fff;
				list-style-type: none;
				padding:5px;

				&.selected {
					background: darken(#fff, 3%);
					color: $blue-color;
					cursor:pointer;
				}
				span.highlight {
					font-weight: bold;
				}

				// &:hover {
				// 	background: darken(#fff, 3%);
				// 	color: $blue-color;
				// 	cursor:pointer;
				// }
				// &:active {
				// 	background: darken(#fff, 5%);
				// }

			}
		}
	}
}

.project-status {
	padding:2px 10px;
	display:inline-block;
	margin-top:8px;
	border-radius: $border-radius;
	@include sprintPlanning();

	&.planning {}
	&.sprint {
		@include sprintSprinting();
	}
	&.review {
		@include sprintReview();
	}
}
.error-overlay {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0;
	pointer-events: none;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999999999999;
	@include transition();

	.error-banner {
		display: block;
	    position: fixed;
	    top: -200px;
	    left: 0px;
	    width: 80%;
	    margin: 20px 10%;
		@include transition();
	}

	&.active {
		opacity:1;
		pointer-events: all;

		.error-banner {
			top:0px;
			pointer-events: all;
		}
	}
}