@keyframes fadeLogin {
    from {
    	transform: scale(0.95, 0.95);
    	opacity: 0;
    }
    to {
    	transform: scale(1, 1);
    	opacity:1;
    }
}
@keyframes fadePreview {
    from {
       	opacity: 0;
       }
       to {
       	opacity:1;
       }
}


#login {
	width:100%;
	height:100%;
	background: #fff;
	color: #000;

	.content {
		text-align:left;
		padding: 0 25px;

		.tag {
			color: #7A7A7A;
			font-size: 30px;
		}

		.form-container {
			margin-top: 60px;

			input {
				border: none;
				border-bottom: 2px solid #35A7FF;
				padding: 10px 0 18px 0;
				margin-bottom: 20px;
				width: 80%;
				font-size: 18px;
				outline:none;
				cursor:pointer;
				@include transition();

				&[disabled] {
					background-color: transparent;
					border-bottom-color: #eee !important;
				}

				&:focus {
					border-bottom-color: #000;
				}

				&.error {
					border-color: $red-color;
				}
			}

			.input-element {
			  position: relative;
			  &:not(:last-child) {
			  	margin-bottom: 40px;
			  }
			}

			.input-element .ion {
			  position: absolute;
			  padding: 10px 10px 10px 0;
			  pointer-events: none;
			  top:0px;
			  font-size: 30px;
			  margin-top: -8px;
			}

			.left-glyph .ion  { left:  0px;}
			.right-glyph .ion { right: 0px;}

			.left-glyph input  { padding-left:  30px; }
			.right-glyph input { padding-right: 30px; }
		}
	}

	#scrumspace_logo {
		position:absolute;
		top:40px;
		left: 40px;
		width:40px;
		height:40px;
		background-size: 100%;
		z-index: 1;
		background-image: url('/static/assets/logo.png');
	}

	.row {
		margin:0;

		& > div {
			height:100vh;
		}
	}
	.login, .preview {
		
		animation-timing-function: $bezier;
	}
	.login {
		background: #fff;
		animation-name: fadeLogin;
		animation-duration: 0.2s;
	}
	.preview {
		background: $blue-color;
		animation-name: fadePreview;
		animation-duration: 1s;
	}

	.login-result {
		opacity:0;
		padding: 10px;
		background: $red-color;
		display: inline-block;
		width: 80%;
		color: #fff;
		@include transition();

		&.visible {
			opacity:1;
		}
	}
}

.vertical-content {
	@include vertical-align();
}

