//mixins

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($property: all){
	-webkit-transition: $property $bezier 0.15s;
	transition: $property $bezier 0.15s;
}

@mixin disableSelect(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin enableSelect(){
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

@mixin resetSpacing(){
	margin:0;
	padding:0;
}

@mixin hoverAction($scaleIn: 1.05, $scaleOut: 0.97, $property: all){
	    @include transition($property);

	    &:hover {
	    	transform: scale($scaleIn,$scaleIn);
			// background: darken($accent-color, 5);
	    }
	    &:active {
	    	transform: scale($scaleOut,$scaleOut);
			// background: darken($accent-color, 10);
			outline: 0;
	    }
	    &:focus {
	    	outline: 0;
	    }
}

//sprint state styling
@mixin sprintPlanning(){
	background: lighten($border-color, 12%);
	border: 1px solid $border-color;
	color: darken($border-color, 30%);
}
@mixin sprintSprinting(){
	background: $green-color;
	border: 1px solid darken($green-color, 20%);
	color: darken($green-color, 40%);
}
@mixin sprintReview(){
	background: $yellow-color;
	border: 1px solid darken($yellow-color, 20%);
	color: darken($yellow-color, 50%);
}