
#project-detail {
	position:relative;
	background: #fff;
	padding: 0 15px;
	color: #fff;
	z-index: initial;
	margin:0;
	border-bottom: 1px solid $border-color;

	.project-top-nav {
		color: #000;
		padding: 15px 0;

		.nav-link {
			font-size: 18px;
		}
	}

	.project-detail-content {
		// padding: 15px 0;

		& > * {
			vertical-align: middle;	
		}
	}

	.project-avatar {
		display: inline-block;
		width:50px;
		height:50px;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #fff;
	}

	.detail-text {
		display: block;
		// margin-left: 20px;

		h1 {
			// @include resetSpacing();
			font-size: 20px;
			color: #000;

			span[name='project-state'] {
				color: $dark-gray-color;
				font-weight: 100;
				font-style: italic;
			}
		}
		h4 {
			@include resetSpacing();
			color: $dark-gray-color;
			margin-top: 5px;
			font-size: 15px;
		}
	}
}

.project-info {
	background: transparent;
	border-bottom: 1px solid $border-color;
    margin: 0 15px 20px 15px;
    padding: 15px 0;

	.progress-bar-details {
		margin: 15px 0 5px;
		color: $body-gray-color;

		.detailNum {
			color: $blue-color;
			font-weight: bold;
		}
	}

    .date-range {
    	color: $body-gray-color;
    }
}

.scrum-board {
	// background-color: #F5F5F5;
	// background-color: rgba(255, 255, 255, .9);
	background:transparent;
	border-radius: 0;
	border:none;
	margin-top: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;

	table {
		width: 100%;
		table-layout: fixed;

		thead {
			tr {
				height: 40px;

				th {
					text-align: left;
	    			font-weight: 400;
	    			color: $body-gray-color;
	    			font-size: 18px;
	    			padding-right: 15px;

	    			&.story-row {
	    				border:none;
	    			}
				}
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #EFEFEF;
			}
			td, th {
				padding-bottom: 15px;
			}
			tr:not(:first-child){
				td {
					padding-top:15px;
				}
			}
			td {
				vertical-align: top;

				// & > div {
				// 	margin-right: 15px;
				// 	display: inline-block; 
				// 	height: 100%;
				// 	width: 90%;
				// }

				&.hovering {
					background: #F5F5F5;
				}

				.task {
					width: 90%;
					margin-left: 5%;
					@include hoverAction();
					opacity:1 !important;
					cursor: 'move';
					@include transition();

					&:active {
						transform: rotateZ(2deg);
					}
				}
				.user-story {
					width: 90%;

					&.collapse {
						.control i.glyphicon:before {
							content: "\e252";
						}
					}
					&.collapse.in {
						.control i.glyphicon:before {
							content: "\e253";
						}
					}
				}
				// Task state coloring
				#task-container {
					background: #F5F5F5;
					// margin-right: 15px;
					padding:5px;
					border: 1px solid darken(#F5F5F5, 5%);
					border-radius: 3px;
					width:100%;
					height:100%;
				}
			}
		}
	}
}

// navigation
.project-nav.nav-tabs {
	background: transparent;
	border:none;
	padding:0px;

	li {
		padding: 0 10px;

		a {
			border: none;
			border-radius: 0;
			margin:0;
			color: $dark-gray-color;
			font-size: 15px;
			cursor: pointer;
			padding: 10px 0;
			@include transition(color);

			&:hover, &:focus, &:active {
				border:none;
				background: transparent;
			}
		}

		&.active {
			a {
				border-bottom: 2px solid $blue-color;
				color: $blue-color;
				background: transparent;
			}
		}
	}
}

#tab-container {
	padding-top: 0px;
	.tab {
		display:none;

		&.active { display: block; }
	}
}


// NEW PROJECT STYLES
.header-styling{
  background-color: $blue-color;
}

.borderHead{
  padding-bottom: 10px;
	border-bottom: 2px solid black !important;
	width: 100% !important;
}

.borderBottom{
  padding-top: 10px;
	border-top: 2px solid black !important;
}

.createPad{
  padding-bottom: 10px;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.createPadTop{
  padding-top: 15px;
}

.createPadTop2{
  padding-top: 45px;
}

.borderTop{
  border-top: 2px solid black !important;
 /* Padding is the whitespace between the content of fb-trending and its
    border */
 padding-top: 15px;
 padding-bottom: 15px;
 /* Margin is the whitespace between the border and adjacent elements */
 margin-top: 25px;
 margin-bottom: 15px;
}

.form-field-width{
	width:100% !important;
}

.fillBorder{
   margin-bottom:7px !important;
}

.fillBorderDesc{
   margin:7px !important;
   margin-left: 30px !important;
   width:96%;
}

.black{
  color:black;
}

.mt-color{
	color:white;
}

.mf-color{
	background-color:#F5F5F5;
}

.project-container {
	padding: $padding;

	.container {

	}
	a {
		.project-item {
			background: #fff;
			border: 1px solid $border-color;
			overflow:hidden;
			border-radius: $border-radius;
			padding: $padding;
			// height:350px; //DISABLED until we have shit to put in
			margin-bottom: $padding;
			@include transition();

			.project-title {
				font-size: 25px;
				color: #000;
			}

			.project-scrum-time {
				color: $body-gray-color;
				font-size: 14px;
				padding-top: 5px;
			}

			.project-status {
				padding:2px 10px;
				background: lighten($border-color, 12%);
				border: 1px solid $border-color;
				display:inline-block;
				color: darken($border-color, 30%);
				margin-top:8px;
				border-radius: $border-radius;

				&.planning {

				}
				&.sprint {
					background: $green-color;
					border: 1px solid darken($green-color, 20%);
					color: darken($green-color, 40%);
				}
				&.review {
					background: $yellow-color;
					border: 1px solid darken($yellow-color, 20%);
					color: darken($yellow-color, 50%);
				}
			}

			.chart-container {
				margin-top:50px;
			}
		}
		&:hover {
			.project-item {
			    @include hoverAction(1.01, 0.99);
			}
		}
	}
}
.task-detail {
	.modal-content {
		.task-story {
			color: gray;
			font-style: italic;
		}
		.row {
			margin:0;
		}
	}

	// &.UNASSIGNED {
	// 	.modal-content {
	// 		border-color: $gray-color;
	// 	}
	// }
	// &.DOING {
	// 	.modal-content {
	// 		border-color: $yellow-color;
	// 	}
	// }
	// &.BLOCKED {
	// 	.modal-content {
	// 		border-color: $red-color;
	// 	}
	// }
	// &.DONE {
	// 	.modal-content {
	// 		border-color: $green-color;
	// 	}
	// }

	.modal-header {
		border:none;

		.task_id {
			color: $blue-color;
		}
	}
}
