.strech-input{
  width: 100% !important;
}

.sat-pad{
  /*Story and Text padding... */
  padding-bottom: 5px;
}

.task-detail-input{
  resize: vertical;
}


.sat-no-margin{
  margin-bottom: 0px;
}

.no-side-margin{
  margin-left: 0px;
  margin-right: 0px;
}

.pad-but-right{
  padding-right: 15px;
}

.panel-primary{
  border-color: $gray-color;
}

.panel-primary>.panel-heading {
    background-color: $blue-color;
    border-color: $blue-color;
}
