//colors
$border-color: #D9D9D9;
$body-gray-color: #6D6D6D;

//theme colors
$yellow-color: #FFE74C;
$red-color: #FF5964;
$green-color: #6BF178;
$blue-color: #35A7FF;
$light-blue-color: #A7D9FF;
$sidebar-color: #F7F7F7;
$gray-color: #FBFBFC;
$light-gray-color: #DFDFDF;

//layout values
$nav-offset: 50px;
$margin: 15px 0;
$padding: 15px;

//fonts
$sans-serif: 'Source Sans Pro', sans-serif;

//timing functions
$bezier: cubic-bezier(.43,.84,.79,.99);
