//colors
$border-color: #E0E0E0;
$body-gray-color: #6D6D6D;

//theme colors
$yellow-color: #FFF090;
$red-color: #FF9999;
$green-color: #A2FF96;
$blue-color: #35A7FF;
$light-blue-color: #A7D9FF;
$sidebar-color: #F7F7F7;
$gray-color: #FBFBFC;
$dark-gray-color: #656565;
$light-gray-color: #DFDFDF;

//layout values
$nav-offset: 50px;
$margin: 15px 0;
$padding: 15px;
$border-radius: 3px;
$body-font-size: 14px;

//fonts
$sans-serif: 'Source Sans Pro', sans-serif;

//timing functions
$bezier: cubic-bezier(.43,.84,.79,.99);
