{ 
	"presets": ["es2015", "react", "stage-0"],
	"plugins": [["transform-object-assign"],
		["babel-plugin-module-alias", [
			{ "src": "./src/app/shared", "expose": "app/shared" },
			{ "src": "./src/app/views/Project", "expose": "Project" }
		]]
	]
}
