# Ignores node dependencies (e.g. webpack).
node_modules

# Ignores sass cache directory
.sass-cache

# Ignores log files
*.log

# LOL MAC
.DS_Store

# Ignore dist contents
dist/

.vscode/

src/server/database.json
