<html>
	<head>
		<title>ScrumSpace</title>
		<meta charSet="utf-8" />
		<meta httpEquiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />	
	</head>
	<body>
		<div id="login">
			
			<div id="scrumspace_logo"></div>

			<div class="row">
				<div class="col-md-4 col-sm-6 login">
					<div class="content vertical-content">
						<div class="tag">
							welcome, <br/>this is <span class="black">scrumspace.</span>
						</div>
						<div class="form-container" onsubmit="postLogin()">
							<form id="login-form">
								<div class="input-element left-glyph">
									<i class="ion ion-ios-person-outline"></i>
									<input id="email" type="text" class="form-control" placeholder="email" autofocus />
								</div>
								<div class="input-element left-glyph">
									<i class="ion ion-ios-locked-outline"></i>
									<input id="password" type="password" class="form-control" placeholder="password">
								</div>


								<button type="button" onclick="postLogin()">Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-6 preview"></div>
			</div>
		</div>
		<script>
			//logout initially
			delete window.sessionStorage.accessToken;

			function postLogin(){

				var email = document.getElementById("email").value,
				password = document.getElementById("password").value;

				fetch('/login', {
					method: 'post',
					body: JSON.stringify({ email: email, password: password })
				}).then(function(res){
					console.log(res);
					if (res.status >= 200 && res.status < 300) {
						return res.text();
					} else {
						console.log("Error:", res.statusText);
						alert(res.statusText);
					}
				}).then(function(text) {
					console.log(text);
					var resObj = JSON.parse(text);
					window.sessionStorage.accessToken = resObj.token;
					// document.location.href='/';
				});
			}
		</script>
	</body>
</html>