<html>
	<head>
		<title>ScrumSpace</title>
		<meta charSet="utf-8" />
		<meta httpEquiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />	
	</head>
	<body>
		<div id="login">
			
			<div id="scrumspace_logo"></div>

			<div class="row">
				<div class="col-md-4 col-sm-6 login">
					<div class="content vertical-content">
						<div class="tag">
							welcome, <br/>this is <span class="black">scrumspace.</span>
						</div>
						<div class="form-container">

							<div class="input-element left-glyph">
								<i class="ion ion-ios-person-outline"></i>
								<input type="text" class="form-control" placeholder="username" autofocus />
							</div>
							<div class="input-element left-glyph">
								<i class="ion ion-ios-locked-outline"></i>
								<input type="password" class="form-control" placeholder="password">
							</div>

						<!-- 	<input type="text" placeholder="username" autofocus><br/>
							<input type="password" placeholder="password"> -->
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-6 preview"></div>
			</div>
		</div>
	</body>
</html>